@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
.darkmode {
  color: white;
  background-color: hsl(209deg, 23%, 22%);
}

.lightmode {
  color: hsl(200deg, 15%, 8%);
  background-color: hsl(0deg, 0%, 98%);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: Nunito Sans;
}

nav {
  white-space: nowrap;
  flex-wrap: wrap;
}
nav h3 {
  margin-right: auto;
}
nav button {
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
  cursor: pointer;
}
nav button i {
  transform: rotate(-30deg);
  vertical-align: text-bottom;
}
@media screen and (max-width: 304px) {
  nav h3 {
    font-size: 5vw;
  }
  nav button {
    font-size: 4vw;
  }
}

main form {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
main form, main form * {
  background-color: inherit;
  color: inherit;
  font-size: 14px;
  font-family: inherit;
}
main form input[type=search]::-moz-placeholder {
  background-image: url(../img/search-outline.svg);
}
main form input[type=search]:-ms-input-placeholder {
  background-image: url(../img/search-outline.svg);
}
main form input[type=search]::placeholder {
  background-image: url(../img/search-outline.svg);
}
main form .filter {
  cursor: pointer;
  padding: 0.8rem;
}
main form .filter::after {
  content: url(../img/chevron-down-outline.svg);
}
main form .filter input[type=text] {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 100%;
  border: none;
  outline: none;
  padding: 0rem 1.5rem;
}
main form .filter input[type=text]::-moz-placeholder {
  opacity: 1;
  color: inherit;
}
main form .filter input[type=text]:-ms-input-placeholder {
  opacity: 1;
  color: inherit;
}
main form .filter input[type=text]::placeholder {
  opacity: 1;
  color: inherit;
}
main form .drop-down {
  position: absolute;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  top: 3.3rem;
  padding: 0.5rem 1rem;
  margin-left: -0.8rem;
}
main form .drop-down button {
  padding: 8px;
  cursor: pointer;
  margin-right: auto;
  outline: none;
  border: none;
}
@media screen and (max-width: 517px) {
  main form {
    flex-wrap: wrap;
  }
  main form input[type=search] {
    width: 100%;
  }
  main form .filter {
    margin: 0%;
    margin-right: auto;
  }
}
main .grid .card {
  border-radius: 5px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
main .grid .card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 12rem;
}
main .grid .card h3 {
  padding: 0rem 1rem;
}
main .grid .card__small-details {
  padding: 0rem 1rem 2rem;
}
main .grid .card__small-details span {
  display: block;
  font-size: 13px;
  line-height: 1.5rem;
}
main .grid .card__small-details span span {
  display: inline;
  color: hsl(0deg, 0%, 52%) !important;
  margin-left: 5px;
}
main .grid .card__small-details span b {
  font-size: 14px;
}

.country-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 2rem;
}
.country-details__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
}
.country-details__content ul {
  list-style-type: none;
  line-height: 2rem;
}
.country-details__content img {
  width: 100%;
  max-width: 100%;
  height: 24em;
}
.country-details__content__details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0rem;
}
.country-details__content__details__information {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.country-details__content__details__information__container-1 {
  margin-right: auto;
}
.country-details__content__details__information li {
  color: inherit;
}
.country-details__content__details__information li b {
  white-space: nowrap;
  font-size: 13px;
  font-weight: bold;
}
.country-details__content__details__information li span {
  padding-left: 5px;
  font-size: 12px;
  font-weight: 500;
}
.country-details .border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
.country-details .border-countries__title {
  margin: auto 0rem;
  white-space: nowrap;
  font-size: 13px;
  font-weight: bold;
}
.country-details .border-countries__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media screen and (max-width: 640px) {
  .country-details {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
  .country-details img {
    height: auto;
  }
}

.loading {
  width: 100%;
  height: 100vh;
  margin-top: 5rem;
  display: flex;
}
.loading span {
  display: block;
  font-size: larger;
  margin-left: 50%;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  width: 4.3rem;
  overflow: hidden;
}

@-webkit-keyframes loading {
  10% {
    width: 4.7rem;
  }
  50% {
    width: 5rem;
  }
  100% {
    width: 6rem;
  }
}

@keyframes loading {
  10% {
    width: 4.7rem;
  }
  50% {
    width: 5rem;
  }
  100% {
    width: 6rem;
  }
}/*# sourceMappingURL=index.css.map */