@use "./config" as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: Nunito Sans;
}
nav{
button{
    margin-left: auto;
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    cursor: pointer;
    i{
        transform: rotate(-30deg);
        vertical-align: text-bottom;
    }
}
}
main{
    form{
        display: flex;
        gap:1rem;
        margin-top:2rem;
        &,& *{
        background-color: inherit;
        color: inherit;
        font-size: 14px;
        font-family: inherit;
        }
        input[type='search']{
            &::placeholder{
                background-image:url(../img/search-outline.svg);
            }
        }
        .filter{
            cursor: pointer;
            padding:0.8rem;
            &::after{
                content: url(../img/chevron-down-outline.svg);
            }            
            input[type='text']{
            cursor: pointer;
            appearance: none;
            height: 100%;
            border:none;
            outline: none;
            padding:0rem 1.5rem;
            &::placeholder{
                opacity: 1;
                color: inherit;
            }
            }
        }
        .drop-down{
            position: absolute;
            flex-direction: column;
            width:100%;
            border-radius: 5px;
            top:3.3rem;
            padding:0.5rem 1rem;
            margin-left: -0.8rem;
            button{
                padding: 8px;
                cursor: pointer;
                margin-right: auto;
                outline: none;
                border: none;
            }
        }
        @media screen and (max-width:517px) {
            flex-wrap: wrap;
            input[type='search']{
                width: 100%;
            }
            .filter{
                margin: 0%;
                margin-right: auto;
            }
        }
    }
    .grid{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        gap:3rem;
        @media screen and (max-width:613px) {
            grid-template-columns: repeat(auto-fit,minmax(210px,1fr));
            gap:2rem;
        }
        @media screen and (max-width:526px) {
            grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
            gap:1.5rem;
        }
        .card{
            border-radius: 5px;
            display: flex;
            gap:1rem;
            flex-direction: column;
            img{
                border-top-left-radius: 5px;
                border-top-right-radius:5px;
                height: 30vh;
                @media screen and (max-width:938px) {
                    height: 35vh;
                }
                @media screen and (max-width:486px) {
                    height: 40vh;
                }
            }
            h3{
                padding:0rem 1rem;
            }
            &__small-details{
                padding:0rem 1rem 2rem;
                span{
                    display: block;
                    font-size: 13px;
                    line-height: 1.5rem;
                    span{
                        display: inline;
                        color:$dark-gray !important;
                        margin-left:5px;
                    }
                    b{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.country-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:4rem;
    margin-top: 2rem;
    white-space: nowrap;
    &__content{
    ul{
        list-style-type: none;
        line-height: 2rem;
    }
    display: flex;
    gap:7vw;
    img{
        width: 40vw;
        height: 65vh;
    }
    &__details{
        width:100%;
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        margin: 2rem 0rem;
        &__information{
            display: flex;
            gap:1rem;
            width: 100%;
            &__container-1{
                margin-right:auto;
            }
            li{
                 color:inherit;
                b{
                    font-size: 13px;
                    font-weight: bold;
                }
                span{
                    padding-left: 5px;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
    }
    .border-countries{
        display: inline-flex;
        flex-wrap: nowrap;
        margin-top: 2rem;
        &__title{
            white-space: nowrap;
            font-size: 13px;
            font-weight: bold;
        }
        &__container{
            display: flex;
            flex-wrap: wrap;
            gap:1rem;
            margin-left: 1rem;
        }
    }
}