@use "./config" as *;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    font-family: Nunito Sans;
}
nav{
    position: sticky;
    top:0%;
button{
    margin-left: auto;
    outline: none;
    border: none;
    background: inherit;
    color: inherit;
    cursor: pointer;
    i{
        transform: rotate(-30deg);
        vertical-align: middle;
    }
}
}
main{
    form{
        display: flex;
        gap:1rem;
        margin-top:1rem;
        &,& *{
        background-color: inherit;
        color: inherit;
        font-size: 14px;
        font-family: inherit;
        }
        input{
            &::placeholder{
                background-image:url(../img/search-outline.svg);
            }
        }
        div{
            &::after{
                content: url(../img/chevron-down-outline.svg);
            }            
            select{
            cursor: pointer;
            appearance: none;
            height: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border:none;
            outline: none;
            padding-left:1.5rem;
        }
        }
        
    }
}